:root {
    --c-bg-1: #fff;
    --c-bg-2: #eaeaea;
    --c-primary: #3c3c3c;
    --c-primary-hover: rgba(60, 60, 60, .9);
    --c-primary-fuzzy: #909090;
    --c-accent: #b79a7a;
    --c-red: red;
    --c-green: #11a50d;
    --c-mobile-menu-bg: rgba(0,0,0,0.95);
    --c-mobile-menu-link: #f1f1f1;
    --c-mobile-menu-title-bg: #3c3c3c;
    --c-main-slider-dot: rgba(255,255,255,0.5);
    --c-main-slider-dot-active: rgba(255,255,255, 1);
    --c-main-slider-arrow: #fff;
    --c-main-slider-arrow-hover: #3c3c3c;
    --c-footer-bottom-bg: #1f1f1f;
    --c-footer-bottom-text: #eaeaea;
    --c-product-slider-border: #ececec;
    --c-product-slider-border-hover: #909090;
    --c-btn-text: #fff;
}